*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
/* navigation */
nav{
    height: 62px;
    /* position:fixed; */
    background-color:#0f1111 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 58px;
    width: 113px;
    background-image: url('amazon_logo.png');
    background-size: cover;
}
.border:hover{
    border: white solid 1px;
    cursor: pointer;
}
.nav-address, .nav-signin, .return-order{
    /* margin: 5px 2px 5px 0px; */
    padding: 6px 9px;
}
.icon-and-country{
    display: flex;
}
.deliverind{
    margin-left: 16px;
    font-size: 0.8rem ;
    color: #cccccc;
}
.fa-location-dot{
    color: #cccccc;
}
.nav-search{
    margin: 6px 9px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: blue;
    width: 55%;
    border-radius: 5px;
    overflow: hidden;
}
.nav-search:hover{
    border:solid rgb(253, 161, 22);
}
.search-select{
    padding-left: 0.7%;
    height: 100%;
    width: 20%;
    border: #E6E6E6 solid 1px;
    background-color: #E6E6E6;
}
.search-select:hover{
    background-color: #d2d1d1;
    border: #d2d1d1 solid 1px;
    cursor: pointer;
}
.search-input{
    height: 100%;
    width: 100%;
    border: #ffffff solid 1px;
    font-size: 1rem;
    padding-left: 1%;
}
.search-icon{
    color: #0f1111;
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 161, 22);
    border: rgb(253, 161, 22) solid 1px;
}
.search-icon:hover{
    background-color: rgb(240, 145, 4);
    border: rgb(240, 145, 4) solid 1px;
    cursor: pointer;
}
.nav-lang{
    background-color:#0f1111;
    padding: 6px 9px;
    width: 5%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.language{
    padding: 2px;
    width: 65%;
    height: 90%;
    font-weight: bold;
    color: #ffffff;
    border: #0f1111 solid;
    background-color: #0f1111;
}
.america{
    height:40%;
    width: 30%;
    /* background-color: rgb(137, 233, 93); */
    background-image: url('united-states-of-america.png');
    background-size: cover;
}
.hello, .return{
    font-size: 0.8rem;
}
.account p, .order, .cart-and-icon p{
    font-weight: bold;
}
.fa-caret-down{
    font-size: smaller;
    color: #cccccc;
}
.cart-and-icon{
    height: 80%;
    padding: 3px 9px;
}
.panel, .panel-ops, .panel-all{
    display: flex;
    align-items: center;
}
.panel{
    background-color: #222F3D;
    color: white;
    height: 2.5rem;
}

.panel-all,.a,.b,.c,.d,.e,.f{
    padding: 8px 9px;
    /* width: 20%; */
}
.a,.b,.c,.d,.e,.f{
    font-size: 0.85rem;
}
.all{
    font-weight: bold;
}
.fa-bars{
    font-size: larger;
    padding-right: 4px;
}
/* hero section */
.hero-section{
    height: 300px;
    background-image: url('hero_image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.hero-text{
    background-color: #F5F6F6;
    color: #0f1111;
    text-align: center;
    padding: 8px 0;
    font-size: 0.8rem;
    font-weight: 500;
    width: 97%;
    height: 1rem;
    margin-bottom: 4vh;
}
.hero-text>a{
    text-decoration: none;
    color: #007185;
}
.shop{
    background: hsla(224, 34%, 30%, 1);

    background: linear-gradient(315deg, hsla(224, 34%, 30%, 1) 2%, hsla(224, 22%, 40%, 1) 10%, hsla(224, 15%, 48%, 1) 15%, hsla(224, 14%, 54%, 1) 20%, hsla(225, 14%, 66%, 1) 27%, hsla(226, 15%, 77%, 1) 34%, hsla(224, 15%, 80%, 1) 40%, hsla(224, 14%, 85%, 1) 46%, hsla(227, 14%, 87%, 1) 52%, hsla(231, 13%, 89%, 1) 55%, hsla(231, 15%, 91%, 1) 61%, hsla(230, 16%, 93%, 1) 66%, hsla(240, 13%, 94%, 1) 72%, hsla(240, 13%, 95%, 1) 76%, hsla(240, 17%, 98%, 1) 81%, hsla(0, 0%, 100%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(224, 34%, 30%, 1) 2%, hsla(224, 22%, 40%, 1) 10%, hsla(224, 15%, 48%, 1) 15%, hsla(224, 14%, 54%, 1) 20%, hsla(225, 14%, 66%, 1) 27%, hsla(226, 15%, 77%, 1) 34%, hsla(224, 15%, 80%, 1) 40%, hsla(224, 14%, 85%, 1) 46%, hsla(227, 14%, 87%, 1) 52%, hsla(231, 13%, 89%, 1) 55%, hsla(231, 15%, 91%, 1) 61%, hsla(230, 16%, 93%, 1) 66%, hsla(240, 13%, 94%, 1) 72%, hsla(240, 13%, 95%, 1) 76%, hsla(240, 17%, 98%, 1) 81%, hsla(0, 0%, 100%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(224, 34%, 30%, 1) 2%, hsla(224, 22%, 40%, 1) 10%, hsla(224, 15%, 48%, 1) 15%, hsla(224, 14%, 54%, 1) 20%, hsla(225, 14%, 66%, 1) 27%, hsla(226, 15%, 77%, 1) 34%, hsla(224, 15%, 80%, 1) 40%, hsla(224, 14%, 85%, 1) 46%, hsla(227, 14%, 87%, 1) 52%, hsla(231, 13%, 89%, 1) 55%, hsla(231, 15%, 91%, 1) 61%, hsla(230, 16%, 93%, 1) 66%, hsla(240, 13%, 94%, 1) 72%, hsla(240, 13%, 95%, 1) 76%, hsla(240, 17%, 98%, 1) 81%, hsla(0, 0%, 100%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#324065", endColorstr="#4F5B7B", GradientType=1 );
    display: grid;
    padding:0 1.8% 5%;
    column-gap: 1.8%;
    row-gap: 3%;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.a1, .a2, .a3, .a4, .a5, .a6,.a7,.a8{
    height: 420px;
    background-color: #ffffff;
    /* width: 23%; */
    border: none;
}
.box-img{
    height: 75%;
    margin: 7%;
    margin-bottom: 4%;
    background-size: cover;
}
.box-img:hover, .box h2:hover{
    cursor: pointer;
}
.box h2{
    margin: 4%;
    margin-left: 7%;
}
.box a{
    margin-left: 7%;
    text-decoration: none;
    color: #007185;
}
#imgg{
    background-size: contain;
}
.back-top a{
    text-decoration: none;
    color: #ffffff;
}
.back-top{
    background-color: #37475A;
    text-align: center;
    padding: 1.8vh 0;
    font-size: small;
}
footer{
    padding: 5% 0 2% 0;
    background-color: #222F3D;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    color: #ffffff;
}
ul a{
    margin-top: 4%;
    display: block;
    font-size: 0.9rem;
    color: #DDDDDD;
}
ul p{
    margin-bottom: 8%;
    font-weight: 700;
}
.last-frame{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222F3D;
    border-top: solid white 0.1px;
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DDDDDD;
    background-color: #222f3d;
    padding: 1% 0;
}
.pages a{
    font-size: 0.8rem;
    padding-left: 2%;
}
.copyright{
    padding: 0.6% 0;
    text-align: center;
    color: #DDDDDD;
    background-color: #0f1111;
}